<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ckw.customviewcollections">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ruler_view.RulerViewActivity" />
        <activity android:name=".level_view.LevelViewActivity" />
        <activity android:name=".tag_view.TagViewActivity" />
        <activity android:name=".drag_view.DragViewActivity" />
        <activity android:name=".star_view.StarViewActivity" />
        <activity android:name=".study.interpolator_evaluator.InterpolatorEvaluatorActivity" />
        <activity android:name=".study.ofobject.OfObjectActivity" />
        <activity android:name=".playpause_view.PlayPauseActivity" />
    </application>

</manifest>